# Review and example assessment questions

# Question 5

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

## Pandas and data manipulation

1. Create a dataframe for this data:

    Animal   | Height | Weight
    Cat      | 30     | 5
    Dog      | 45     | 20
    Elephant | 200    | 4000
    Monkey   | 60     | 5
    Tiger    | 100    | 250

2. Sort it by Weight and print the names of the animals in Weight order.

3. Remove the row containing Elephant.

4. Split Monkey and Tiger into a separate dataframe.

5. Join the two remaining dataframes back together.

In [ ]:
import pandas as pd

# Answer 1
data = {'Animal': ['Cat', 'Dog', 'Elephant', 'Monkey', 'Tiger'],
        'Height': [30, 45, 200, 60, 100],
        'Weight': [5, 20, 4000, 5, 250]}

df = pd.DataFrame(data)
print(df)

     Animal  Height  Weight
0       Cat      30       5
1       Dog      45      20
2  Elephant     200    4000
3    Monkey      60       5
4     Tiger     100     250

In [ ]:
# Answer 2
sorted_df = df.sort_values(by=['Weight'])

animals_weight_order = sorted_df['Animal'].tolist()
print(animals_weight_order)

['Cat', 'Monkey', 'Dog', 'Tiger', 'Elephant']

In [ ]:
# Answer 3
idx = df[df['Animal'] == 'Elephant'].index
update_df = df.drop(idx)
print(update_df)

   Animal  Height  Weight
0     Cat      30       5
1     Dog      45      20
3  Monkey      60       5
4   Tiger     100     250

In [ ]:
# Answer 4 - method 1
df1 = df[df['Animal'].isin(['Monkey','Tiger'])]
df2  = df[df['Animal'].isin(['Cat','Dog'])]
print(df1)
print(df2)

# Answer 4 - method 2
df3 = df.iloc[3:]
df4 = df.iloc[:2]
print(df3)
print(df4)

   Animal  Height  Weight
3  Monkey      60       5
4   Tiger     100     250
  Animal  Height  Weight
0    Cat      30       5
1    Dog      45      20
   Animal  Height  Weight
3  Monkey      60       5
4   Tiger     100     250
  Animal  Height  Weight
0    Cat      30       5
1    Dog      45      20

In [ ]:
# Answer 5
# Reset the index values with ignore_index=True
new_df = pd.concat([df1,df2], ignore_index=True)
print(new_df)

   Animal  Height  Weight
0  Monkey      60       5
1   Tiger     100     250
2     Cat      30       5
3     Dog      45      20